<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.xhtml</welcome-file>   
    </welcome-file-list>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin App Content</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Inventory Manager App Content</web-resource-name>
            <url-pattern>/inventorymanager/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>INVENTORY_MANAGER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Customer App Content</web-resource-name>
            <url-pattern>/customer/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CUSTOMER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Supplier App Content</web-resource-name>
            <url-pattern>/supplier/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>SUPPLIER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
